*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #ba789c, #ffc0cb, #6f4e6f);
    padding: 10px;
}
.todoapp{
    width: 100%;
    max-width: 540px;
    background: #fcded8;
    margin: 50px auto 20px;
    padding: 40px 30px 70px;
}
.todoapp h2{
    color: #331d33;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.todoapp h2 img{
    width: 24px;
    margin-left: 7px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffc0cb;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #261026;
    padding: 5px;
    font-size: 16px;
}
input::placeholder {
    color: #692248;    
    font-size: 18px;  
    opacity: 1; 
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(90deg, #390521, #261026, #390521);  
    color: #fcded8;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}
ul li{
    list-style: none;
    font-size: 18px;
    color: #520852;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(image-Photoroom.png);
    background-size: cover;
    background-position: center;
}
ul li.checked{
    color: rgb(46, 2, 49);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(https://i.pinimg.com/564x/ea/b2/b8/eab2b8585d9e15e3ac2e47273ce367e1.jpg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ba789c;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #331d33;
}
